@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 272 48% 95%;
    --foreground: 272 5% 0%;
    --card: 272 48% 90%;
    --card-foreground: 272 5% 10%;
    --popover: 272 48% 95%;
    --popover-foreground: 272 95% 0%;
    --primary: 272 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 272 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 234 30% 85%;
    --muted-foreground: 272 5% 35%;
    --accent: 234 30% 80%;
    --accent-foreground: 272 5% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 272 5% 90%;
    --border: 272 30% 50%;
    --input: 272 30% 18%;
    --ring: 272 100% 50%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 272 48% 5%;
    --foreground: 272 5% 90%;
    --card: 272 48% 0%;
    --card-foreground: 272 5% 90%;
    --popover: 272 48% 5%;
    --popover-foreground: 272 5% 90%;
    --primary: 272 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 272 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 234 30% 15%;
    --muted-foreground: 272 5% 60%;
    --accent: 234 30% 15%;
    --accent-foreground: 272 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 272 5% 90%;
    --border: 272 30% 18%;
    --input: 272 30% 18%;
    --ring: 272 100% 50%;
    --radius: 0.5rem;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

* {
  --sb-track-color: hsl(272 48% 5%);
  --sb-thumb-color: hsl(272 30% 20%);
  --sb-size: 8px;
}

*::-webkit-scrollbar {
  width: var(--sb-size);
}

*::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 8px;
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
